<!DOCTYPE html>

<html lang="en">

  <head>
    <style>
      /* body {background-image: url('static/images/back.jpg');
        background-color: blue;
        background-repeat: no-repeat;
        background-size: 100% 100%;}
      h1   {
    display: block;
    font-size: 15px;
    line-height: 150%;
    color: #000;
  } */
  center   {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 150%;
    color: #000;
  }
      p    {
    display: block;
    font-size: 15px;
    line-height: 100%;
    color: #000;
  }

  .item { 
   padding: 20px;
   /* border: 1px solid red; */
}

      .white-box {
      background-color: white;
      color: black;
      text-align: left;
      border-radius: 10px;
      background: #ffff;
      padding: 90px;
      width: 1100px;
      height: 1100px;   
  }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UFO Sightings and Interesting Facts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>


  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarNavDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Explore
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarNavDropdown">
              <a class="dropdown-item" href="/heatmap">Sighting Heat Map</a>
              <a class="dropdown-item" href="/drugs">Sightings and Drugs</a>
              <a class="dropdown-item" href="/d3">Fireball Sightings and Drugs</a>
              <a class="dropdown-item" href="/circlepack">Zoomable Language Clusters</a>
              <a class="dropdown-item" href="/bar">Bar Chart</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Data</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Website Body -->
    
    <div class="container-fluid">

      <div class="row">


        <!-- Upload Image Form -->

        <div class="col-4">

          <h3>Upload Your Image here</h1>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
          
          <h3>Choose your best guess</h1>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
        <div class="col-4">

          <h3>Insert Image Here</h3>

        </div>

        <div class="col-4">

          <h3>Insert Results Here</h3>
          
        </div>
        
      </div>


      <!-- Models -->

      <div class="row">

        <div class="col-6">

          <div class="item">

            <h3>Current Model Last Updated xx/xx/xxxx</h1>
            <p>[insert model here]</p>
            
          </div>

        </div>

        <!-- Current Model -->

        <div class="col-6">

          <div class="item">

            <h3>Updated Model</h1>
            <p>[insert model here]</p>
            
          </div>

        </div>


        
          

      </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>

  </html>